header{
background-color : #FFFFFF ;
}
.logo {
 width : 135px ;
}


.landing
{
	display : flex ;
	align-items : center ;

	margin-top: 140px;
	
}

.landing__blue-container{
	background-color : #2B5897 ;
	color : white ;
	width : 70% ;
	height : 90vh ;
	text-align : right ;
	padding : 15% 5% 0 0 ;
	
	
	
	
	
}
.landing__img
{
	width : 30% ;

	position :  relative ;
	left : 5% ;
	
	
	
}
.landing__h4
{
	padding : 15%  0 0 ;

}

.landing__img-2
{
	width : 30% ;
	margin-top : 150px ; 
	margin-left :  5% ;
	
}
.landing__title-2
{
	
	color : #2B5897 ;
	text-align : center ;
	padding-left : 6rem ;
	height : 90vh ;
	display:flex ;
	flex-direction : column; 
	justify-content: space-between ; 
}


.logout-btn{
/* 	background: red;
 */	
 margin-top: 8px;

 padding: 0 7px;
}


